/* src/componentes/Card/estilos.css */
.card {
    background: var(--bg-card);
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 64px 64px 0px 0px;
    padding: 80px;
    min-height: 60vh;
    display: flex;
    flex: 1;
    margin-top: -32px;
    justify-content: center;
}