html {
    background-color: var(--bg-azul);
}

.cabecalho {
    background: var(--bg-azul);
    display: flex;
    justify-content: space-around;
    padding-top: 120px;
    min-height: 30vh;
}

.imagemLogo {
    background-image: url("/public/imagens/logo.png");
    width: 351px;
    height: 117px;
}

.participante {
    /* z-index: 1; */
    width: 320px;
}

@media screen and (max-width: 800px) {
    .cabecalho {
        padding-top: 30px;
        flex-direction: column;
        align-items: center;
    }

    .imagemLogo {
        background-image: url("/public/imagens/logo-pequeno.png");
        width: 235px;
        height: 199px;
    }
}